<%= form_for(tweet) do |f| %>
  <div class="field">
    <%= f.text_area :content, placeholder: "Compose new tweet..." %>
  </div>
  <%= button_to "Post", tweets_path, {class: "btn btn-primary"} %>
<% end %>
