<div class="flash-message-container">
  <%= flash_messages %>
</div>
<h1>Request to follow from:</h1>
<ul>
  <% current_user.requested_friends.each do |f| %>
    <h3><%= f.first_name.titleize %></h3>
    <%= button_to "Confirm", confirm_instructor_path, :class=>"ruby-link btn btn-info btn-default btn-md" %>
  <% end %>
</ul>
