<div class="flash-message-container">
  <%= flash_messages %>
</div>

<div class="col-md-12">
  <div class="container">
    <h2><strong>Sign Up!</strong></h2>
    <br><br>

    <%= render "user_form" %>
  </div>
</div>
