<div class="jumbotron">
</div>

<div>
  <div class="titleSplashPage">
    <h1 class="titleSplashPage"> HomeRoom: Where students and instructors collaborate online </h1>
    <br>
  </div>
</div>

<div class="row">
  <div class="well col-sm-10 col-sm-offset-1">
    <legend>What you'll find...</legend>
    <div class="col-sm-4 about">
      <img class="img-responsive demo" src="http://i.imgur.com/AV4O5c5.png">
      <div class="col-sm-12">
        <h3>Easy Sign Up</h3>
        <p>Just fill out a couple fields and your profile will be set up</p>
      </div>
    </div>
    <div class="col-sm-4 about">
      <img class="img-responsive demo" src="http://i.imgur.com/b6ENc6V.png"/>
      <div class="col-sm-12">
        <h3>Students</h3>
        <p>Stay up to date with assignments</p>
      </div>
    </div>
    <div class="col-sm-4 about">
      <img class="img-responsive" class="demo-stretch" src="http://i.imgur.com/RNowHAH.png"/>
      <div class="col-sm-12">
        <h3>Instructors</h3>
        <p>Update your students on assignments</p>
      </div>
    </div>
  </div>
</div>

<div class="row splashBtn">
  <div>
    <% if current_user != nil && current_user.role == true %>
      <%= button_to "Make an Announcement", user_path(current_user), method: :get, :class=>"ruby-link btn btn-info btn-default btn-md" %>
    <% elsif current_user != nil && current_user.role == false %>
      <%= button_to "Find Instructors", instructors_path, method: :get, :class=>"ruby-link btn btn-info btn-default btn-md" %>
    <% else %>
      <%= button_to "Sign Up Here", new_user_path, method: :get, :class=>"ruby-link btn btn-info btn-default btn-md" %>
    <% end %>
  </div>
</div>
