<div class="jumbotron">
</div>

<div>
  <div class="titleSplashPage">
    <h1 class="titleSplashPage"> HomeRoom: Where students and instructors collaborate online </h1>
    <br>
  </div>
</div>

<div class="row splashBtn">
  <div>
    <button type="button" name="button">Sign Up Here</button>
  </div>
</div>
