<div class="jumbotron">
</div>

<div>
  <div class="titleSplashPage">
    <h1 class="titleSplashPage"> HomeRoom: Where students and instructors collaborate online </h1>
    <br>
  </div>
</div>

<div class="row">  
  <div class="well col-sm-10 col-sm-offset-1">
    <legend>What you'll find...</legend>
    <div class="col-sm-4 about">
      <img class="img-responsive" src="http://i.imgur.com/0R1j9uA.png" class="demo">
      <div class="col-sm-12">
        <h3>Student</h3>
        <p>Stay up to date with assignments</p>
      </div>
    </div>
    <div class="col-sm-4 about">
      <img class="img-responsive" src="http://i.imgur.com/0R1j9uA.png" class="demo">
      <div class="col-sm-12">
        <h3>Instructor</h3>
        <p>Broadcast to students</p>
      </div>
    </div>
    <div class="col-sm-4 about">
      <img class="img-responsive" src="http://i.imgur.com/0R1j9uA.png" class="demo">
      <div class="col-sm-12">
        <h3>Communicate</h3>
        <p>Something about this</p>
      </div>
    </div>
  </div>
</div>

<div class="row splashBtn">
  <div>
    <button type="button" name="button">Sign Up Here</button>
  </div>
</div>
