/*
 * app/assets/stylesheets/application.css
 */

/*
 *= require bootstrap-3.3.6.min
 *= require rails_bootstrap_forms
 *= require_tree .
 *= require_self
 */



 @import url("//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css");

 html, body{
   height: 100%;
   padding-top: 60px;
   background: gray;
 }

 .navbar-brand>img {
    margin-top: -7px !important;
    padding: 0px;
    height: 40px;
    width: 190px;
 }

 .navbar-nav>li {
   padding: 0.5vh;
 }

 main {
   margin-top: -5.5%;
 }

 footer {
  left: 0;
  bottom: 0;
  height: 40px;
  width: 100%;
  text-align: center;
  margin-top: 20px;
  padding-top: 20px;
}

.CreateButton {
  text-align: center;
}

.flash-message-container {
  padding-top: 30px;
}
