.jumbotron {
  background: no-repeat url("http://i.huffpost.com/gen/2007430/images/o-EMPTY-CLASSROOM-facebook.jpg") center;
  background-size: cover;
  margin-top: -10px;
  margin-right: auto;
  margin-left: auto;
  color: rgba(255, 255, 250, 0.9);
  height: 480px;
}

.demo {
  height: 400px;
  width: 350px;
}

.user-img {
  padding-top: 19px;
}

.user-info-column {
  text-align: center;
}
.splashBtn {
  text-align: center;
}

.student-info {
  span {
    position: relative;
    text-align: center;
    padding: 0px;
  }
}

legend, h2 {
  text-align: center;
}

.about {
  text-align: center;
}

.demo {
  height: 250px;
  width: 350px;
}

.ruby-link {
  color: white;
  text-decoration: none !important;
}

.ruby-link:hover {
  color: white;
}

.instructor {
  display: none;
}

.FormButtons {
  text-align: center;
}

.circle_image {
  border-radius: 50%;
}

.pendingBtn {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #f9f9f9), color-stop(1, #e9e9e9));
	background:-moz-linear-gradient(top, #f9f9f9 5%, #e9e9e9 100%);
	background:-webkit-linear-gradient(top, #f9f9f9 5%, #e9e9e9 100%);
	background:-o-linear-gradient(top, #f9f9f9 5%, #e9e9e9 100%);
	background:-ms-linear-gradient(top, #f9f9f9 5%, #e9e9e9 100%);
	background:linear-gradient(to bottom, #f9f9f9 5%, #e9e9e9 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f9f9f9', endColorstr='#e9e9e9',GradientType=0);
	background-color:#f9f9f9;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #dcdcdc;
	display:inline-block;
	cursor:pointer;
	color:#666666;
	font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size:14px;
	padding:6px 15px;
	text-decoration:none;
}

.followBtn {
	background-color:#4fe050;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #268a16;
	display:inline-block;
	cursor:pointer;
	color:#306108;
	font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size:15px;
	padding:6px 15px;
  color: white;
	text-decoration:none;
}
.followBtn:hover {
	background:-moz-linear-gradient(top, #5cb811 5%, #77d42a 100%);
	background:-webkit-linear-gradient(top, #5cb811 5%, #77d42a 100%);
	background:-o-linear-gradient(top, #5cb811 5%, #77d42a 100%);
	background:-ms-linear-gradient(top, #5cb811 5%, #77d42a 100%);
	background:linear-gradient(to bottom, #5cb811 5%, #77d42a 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#5cb811', endColorstr='#77d42a',GradientType=0);
	background-color:#4fe050;
}
.followBtn:active {
	position:relative;
	top:1px;
}
