.jumbotron {
  background: no-repeat url("https://static.pexels.com/photos/68562/pexels-photo-68562.jpeg") center;
  background-size: cover;
  margin-top: -10px;
  margin-right: auto;
  margin-left: auto;
  color: rgba(255, 255, 250, 0.9);
  height: 330px;
}

.splashBtn {
  text-align: center;
}

legend, h2 {
  text-align: center;
}

.about {
  text-align: center;
}

.demo {
  height: 250px;
  width: 350px;
}

.ruby-link {
  color: white;
  text-decoration: none !important;
}

.ruby-link:hover {
  color: white;
}
